@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.wrapper{
  display: flex;
  margin: 0 auto 0 auto;
  padding: 10px 20px;
  max-width: 1000px;
  flex-wrap: wrap;
}
.info{
  font-size: 17px;
}
.food{
  display: inline-flex;
  justify-content: flex-end;
  padding-top: 0;
  align-self: flex-end;
}
.foodmenu{
  position: center;
  height: 60%;
  min-width: 0%;
  padding-top: 1px;
  width: 80%;
}
.beertype {
  font-size: 45px;
  color: #FC2F00;
}

.barimg{
  background-size: contain;
    /*height: 100vh;*/
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.imgbar {
  justify-content: flex-end;
  padding-top: 0;
  width:60%;
  height: auto;
}
