@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

. {
  background-color: black;
}

h3, p {
  text-align: center;
  font-family: 'Roboto Slab';
  display: flex;
  padding: 20px;
}
h3 {
  flex-direction: row-reverse;
  justify-content: center;
  margin-right: 60px;
}
 p {
   flex-direction: row-reverse;
   justify-content: center;
   margin-left: 60px;
   font-size: 10;
 }
