@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

. {
  background-color: black;
}

h3, p {
  text-align: center;
  font-family: 'Roboto Slab';
  background-color: black;
  display: flex;
  color: white;

}
h3 {
  flex-direction: row-reverse;
  justify-content: center;
}
 p {
   flex-direction: row-reverse;
   justify-content: center;
 }
