

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: medium;
}
.tabs{
  text-align: center;
}


.link{
  width:10%;
}
/*body {
  padding: 1px;
  background-image: url('./assets/img/flipperstavernpreview.jpg');
  background-size: cover;
  height: 100vh;
  min-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0px;

}*/
