

.App {
  text-align: center;
}
body{
  background-color: #EDE7D9;
}
/*.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: medium;
}
.tabs{
  text-align: center;
}
.link{
  width:10%;
}*/
.footwrap{
  display: flex;
  justify-content: center;
}
.insta{
  padding:5px;
}
.fb{
  padding:5px;
}
.tabs {
  background: #1B98E0;
  margin-top: 0;
  padding: 20px 0 20px 0 ;
  text-align: center;
  font-family: 'Amatic SC';
}
.link{
 transition: 0.4s;
 color: #ffffff;
 font-size: 30px;
 text-decoration: none;
 padding: 0 10px;
 margin: 0 10px;
}
.link:hover {
 background-color: #EDE7D9;
 color: #F87060;
 padding: 24px 10px;
}
