

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: medium;
}
.tabs{
  text-align: center;
}


.link{
  width:10%;
}
.footwrap{
  display: flex;
  justify-content: center;
}
.insta{
  padding:5px;
}
.fb{
  padding:5px;
}









/*body {
  padding: 1px;
  background: url('./assets/img/flipperstavernbar.png');
  background-size: cover;
  height: 100vh;
  min-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0px;

}
#root {
  background-color: rgba(255,255,255,.3)
}*/
